@using GISModel.Entidades
@using GISModel.DTO.TipoDeDocumento
@model TipoDeDocumentoComArquivosViewModel

<div class="timeline-item clearfix" data-uniquekey="@Model.UniqueKey">
    <div class="timeline-info CustomTooltip" data-rel="tooltip" title="Nenhum anexado">
        <i class="timeline-indicator ace-icon fa fa-minus-square btn btn-grey no-hover"></i>
    </div>


    <div class="widget-box transparent collapsed">
        <div class="widget-header widget-header-small">
            <h5 class="widget-title smaller grey">
                @Model.Nome.ToUpper()
            </h5>

            <span class="widget-toolbar no-border action-buttons">
                <a href="#" class="lnkUploadArquivo CustomTooltip" data-rel="tooltip" data-target="#modalArquivo" data-toggle="modal" data-backdrop="static" data-keyboard="false" title="Upload Novo Arquivo">
                    <i class="ace-icon fa fa-cloud-upload bigger-125 fa-cloud-down"></i>
                </a>

                <a href="#" data-action="collapse">
                    <i class="ace-icon fa bigger-125 fa-chevron-down"></i>
                </a>
            </span>
        </div>

        <div class="widget-body" style="display: none;">
            <div class="widget-main">
                <div class="widget-toolbox clearfix">
                    <div class="pull-left" style="font-size: 11px">
                        <i class="ace-icon fa fa-clock-o bigger-110 grey"></i>
                        Nenhum arquivo incluído até o momento
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>