
@{
    ViewBag.Title = "PesquisaProprio";
}

<h2>PesquisaProprio</h2>

@section Scripts {
    <script src="~/Scripts/jQuery/inputmask.js"></script>
    <script src="~/Scripts/jQuery/jquery.inputmask.js"></script>
    <script src="~/Scripts/Custom/Empregado/Novo.js"></script>
}